article {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 25px;
    width: 450px;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 5px #555555);
    left: 50%;
    top: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
}

article > *:not(:first-child) {
    width: 100%;
    font-size: 18px;
}

article h1 {
    margin: 0;
    font-size: 32px;
    margin-bottom: 1.5em;
    padding: 0;
}

article label {
    text-align: center;
    font-size: 16px !important;
}

article button {
    border: none;
    outline: none;
    color: white;
    padding: 10px;
    font-size: 18px;
    background-color: #313131;
    filter: drop-shadow(2px 2px 2px #555555);
    border-radius: 5px;
}

article br {
    content: '';
    margin: 3em;
    
}

article input {
    color: black;
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
}

article input::placeholder {
    color: #555555;
}

