
.cards-container{
    position:fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    top: 100px;
    left: 20px; 
    right: 20px;
    bottom: 20px;
    overflow-x: scroll;
}

.add-button{
    display: flex;
    font-size: 30px;
    padding: 12px 24px; 
    border-radius: 5px;
    background-color: transparent;
    margin-top: 300px;
    margin-left: 40px;
    cursor: pointer;
}

.add-button:hover{
    background-color: rgba(0, 0, 0, 0.4);
}
